/* Social Media Button styling in navBar */
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
}

/* Hover Effect for Social Media Buttons */
.fa:hover {
  opacity: 0.7;
}

/* Social Media button colors */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

body {
  background-color: #f4f1de;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.jumbotron {
  background-color: #457b9d;
}

button {
  margin: 1em;
}

.startJSQuiz {
  display: flex; justify-content: center;
}

.navbar {
  background-color: #d2b48c;  
  color: black;  
  /* pulls everything down to push up against bottom border */
  padding-bottom: 0;

  /* allows ??? to control the horizontal position */
  padding-left: 0;

  /* creates solid line for the bottom border  */
  border-bottom: solid;
  border-bottom-color: black;
  width: 100%;
}

#navbar-title {
  padding: 15px;
  font-size: 30px;
  color: black !important;
}

/* container for nav header */
.container-fluid {
  background-color: #d2b48c;
  padding-left: 5%;
  padding-right: 5%;
}


/* Change the color of links on hover */
.nav-link:hover {
    /* background-color: #4Cabc2 !important; */
  background-color: white;  
  /* color: #fff !important; */
  color: #666;
}

/* collapses space between menu options when they stack vertically*/
  .nav-link{
    padding: 1px;
  }

#details {
  /* background-color: #db248c;   */
  background-color: #d2b48c;  
  /* provides spacing between the top and bottom nav bars and the content */
  margin-top: 10px;
  margin-bottom: 10px;
  /* provide spacing around the text */
  padding: 40px;
  text-align: left;
}

#playTime {
  background-color: #d2b48c;
  /* provides spacing between the top and bottom nav bars and the content */
  margin-top: 10px;
  margin-bottom: 10px;
  /* provide spacing around the text */
  padding: 40px;
  text-align: left;
} 


/* line items */
li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #457b9d;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  list-style-type: none;
}

li:hover {
  background-color: #8caad2;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343A40;
    color: white;
    text-align: center;
    z-index: 1;
}        

/* media query for screen size to be applied to center text to switch at same time as navbar */
@media (max-width: 768px) {
  .container-fluid {
    /* removes padding on either side */
    padding-left: 0;
    padding-right: 0;
  }

/* removes vertical lines between text */
  li {
    border-right: none;
  }

}